:root{
  --pad-inner: 55px;
  --header-height: 71px;
  @include tablet{
    --pad-inner: 24px;
  }
  @include mobile {
    --pad-inner: 16px;
  }
}

main {
  // padding-left: var(--pad-inner);
  // padding-right: var(--pad-inner);
}
body {
  background-color: black;
  text-rendering: optimizeLegibility;
}
:root {
  --color-dotteds-rgb: 34, 34, 34;
}
.no-scroll{
  overflow: hidden;
}
.gradient--tertiary {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 55%, rgb(25, 5, 42) 100%);
}
.gradient--secondary {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 55%, #3d2702 100%);
  header {
    display: none;
  }
}