// * * binded style variables * *
// --options-height --> dynamic options menu height
// --option-height --> dynamic single option item height
// --dropdown-width --> dynamic dropdown & options drawer width

// * * * Variables * * *
// $default-border-radius: 4px;
$default-text-hover-color: black;
$default-hover-color: #cde4f5;
$default-text-color: #fff;
$option-padding: 4px 10px;

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: var(--dropdown-width);
  position: relative;
  border: 1px solid transparent;
  border-radius: var(--main-el-border-radius);
  cursor: pointer;
  color: var(--dropdown-default-text-color);
  background: var(--dropdown-background-color);
  user-select: none;
  transition: all 0.7s linear;
  .dropdown-label-container {
    display: flex;
    width: 100%;
    .dropdown-label {
      display: flex;
      justify-content: space-between;
      flex: 1 1 auto;
      align-items: center;
      height: var(--option-height);
      padding: $option-padding;
      .text {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 24px;
      }
      .angle-down {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid $default-text-color;
        background: transparent;
        border-width: 0 2px 2px 0;
        padding: 4px;
        width: 1px;
        height: 1px;
        margin: -3px 5px 0 0;
        border-color: var(--dropdown-default-text-color);
        transform: rotate(45deg);
        transition: all 0.7s;
      }
      .toggled {
        margin-bottom: -12px;
        transform: rotate(-135deg);
        transition: all 0.7s;
      }
    }
  }

  .options {
    width: 100%;
    .option {
      display: flex;
      align-items: center;
      padding: $option-padding;
      height: 35px;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 18px;
    }
    .option:hover {
      color: $default-text-hover-color;
      background: $default-hover-color;
      transition: all 0.7s;
    }
    .option:last-child {
      border-radius: 0 0 var(--main-el-border-radius)
        var(--main-el-border-radius);
    }
    .option:last-child:hover {
      border-radius: 0 0 var(--main-el-border-radius)
        var(--main-el-border-radius);
    }
  }
}
.dropdown.expanded {
  background: var(--dropdown-expanded-color);
  border: var(--dropdown-border);
  transition: all 0.7s linear;
}

// Expand Class - Most important part
.expand {
  overflow: hidden;
  transition-property: height;
  transition-duration: 0.4s; // Durations can be changed without touching JS
  transition-timing-function: cubic-bezier(
    0.175,
    0.885,
    0.32,
    1.275
  ); // Timing functions also!

  &[aria-expanded="false"] {
    height: 0 !important;
    transition-timing-function: cubic-bezier(
      0.6,
      -0.28,
      0.735,
      0.045
    ); // Timing function can be different for each direction
  }
}

// Smartphones - Landscape + Portrait
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

.menu-item{
    display: inline-flex;
    justify-content: space-between;
    width: 150px;
    position: relative;
    cursor: pointer;
    height: 50px;
    padding: 0 10px;
    align-items: center;
    background-color: none;
    border-radius: $item-border-radius $item-border-radius $item-border-radius 0 ;
}
.open {
    background-color: var(--color__gray-3);
    color: var(--color__text--bg_dark);
    border-radius: $item-border-radius $item-border-radius 0 0 ;
    a {
        color: var(--color__text--bg_dark);
    }
}
.sub-item{
    padding: 5px 10px;
    background-color: var(--color__gray-3);
    
}
.sub-item:last-child{
    padding-bottom: 10px;
    border-radius:0 0 $item-border-radius $item-border-radius  ;
}
.sub-item:hover{
    background-color: var(--color__gray-3);
    
}
.menu-item--selected{
    position: relative;
}
.sub-menu {
    
    position: absolute;
    top: calc(100% - 40px);
    width: 100%;
    left:0;
    padding: 40px 0 10px 0;
    border-radius: var(--rounded-normal);
    color: var(--color-white);
    //transform: translateX(-50%);
    //transform: translateX(-8px);
    overflow: hidden;
    //opacity: 0;
    //visibility: hidden;
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s ease;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}