.icon{
    width:30px;
}
.icon--large {
    width:80px;
}
.icon--small {
    width: 20px;
}
/* -----
SVG Icons - svgicons.sparkk.fr
----- */
svg[class*="--black"]{
  path{
    stroke: var(--color__icon--bg_dark);
  }
}
svg[class*="--black--filled"]{
  path{
    stroke: var(--color__icon--bg_dark);
    fill: var(--color__icon--bg_dark);
  }
}
svg[class*="svg-icon"]{
    width: 1.5em;
    height: 1.5em;
    
}

svg[class*="--white"]{
  path{
    stroke: var(--color__icon);
  }
}
svg[class*="--white--filled"]{
  path{
    stroke: var(--color__icon);
    fill: var(--color__icon);
  }
}
svg[class*="--large"]{
  width: 100%;
  height: auto;
}


.icon-menu{
    transform: rotate(90deg);
}