.tb-stats {
    
    --border-table: var(--color__text);
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 auto;
}
.tb-stats tr:first-child th:first-child {
    border-top-left-radius: $rounded-normal;
}
.tb-stats th:nth-child(2), td:nth-child(2){
    @include mobile {
        display: none;
    }
    
}
.tb-stats th:first-child, .tb-stats td:first-child {
    border-left: 1px solid var(--border-table);
}
.tb-stats th {
    padding: clamp(8px,2vw,16px);
    border-top: 1px solid var(--border-table);
    font-size: var(--fs-300);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 120%;
}
.tb-stats th, .tb-stats td {
    border-right: 1px solid var(--border-table);
    border-bottom: 1px solid var(--border-table);
}
.tb-stats tr:last-child td:last-child {
    border-bottom-right-radius: $rounded-normal;
}
.tb-stats tr:last-child td:first-child {
    border-bottom-left-radius: $rounded-normal;
}
.tb-stats tr:first-child th:last-child {
    border-top-right-radius: $rounded-normal;
}
.tb-stats td {
    padding: clamp(8px,2vw,20px) clamp(8px,2vw,16px);
    //font-size: clamp(18px, 15.8873239437px + 0.4225352113vw, 24px);
    font-size: var(--fs-500);
    line-height: 120%;
}