.createCourse{
    width:100%;
    display: flex;
    justify-content: center;
    .inner {
        max-width: 900px;
    }
    .formkit-label{
        font-size: var(--fs-400);
    }
    .formkit-input{
        font-size: var(--fs-500);
    }
    .formkit-list{
        background-color: var(--color__gray-translucid);
        border-radius: $item-border-radius;
        padding: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}
.createCourse__list-heading{
    font-size: var(--fs-500);
}
.createCourse__section-heading{
    margin-bottom: 20px;
    h2 {
        font-size: var(--fs-600);
    }
    
}
.createCourse__description{
    font-size: var(--fs-450);
}
.createCourse__form{
    max-width: 800px;
}
.createDashboard__title{
    text-align: center;
}
.createdCourses{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.createdCourse{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    background-color: var(--color__gray-translucid);
    border-radius: $item-border-radius;
    padding: 20px;
}
.createdCourse:hover{
    filter:brightness(100);
}
.createdCourse__info{
    display: flex;
    flex-direction: column;
}
.createDashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.createDashboard__courses{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
}
.createdCourse__title{
    font-size: var(--fs-500);
}
.createdCourse__date{
    font-size: var(--fs-400);
}
.createCourse__trailer{
    
}
.form__trailer{
    background-color: var(--color__gray-translucid);
    border-radius: $item-border-radius;
    padding: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    row-gap: 20px;
}
.createCourse__trailer-video{
    width: 200px;
    height: 150px;
    border-radius: $item-border-radius;
}