.createCourse{
    width:100%;
    display: flex;
    justify-content: center;
    .inner {
        max-width: 900px;
    }
    .formkit-label{
        font-size: var(--fs-400);
    }
    .formkit-input{
        font-size: var(--fs-500);
    }
    .formkit-list{
        background-color: var(--color__gray-translucid);
        border-radius: $item-border-radius;
        padding: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}
.createCourse__list-heading{
    font-size: var(--fs-500);
}
.createCourse__section-heading{
    margin-bottom: 20px;
    h2 {
        font-size: var(--fs-600);
    }
    
}
.createCourse__description{
    font-size: var(--fs-450);
}
.createCourse__form{
    max-width: 800px;
}
.createCourse__title{
    text-align: center;
}