@media (max-width: 1536px){
  .layout-3-cols {
  --pad-grid: clamp(20px, 2vw, 30px);
}  
}

.layout-3-cols {
    --min-width-col: 200px;
    display: grid;
    grid-template-columns: 1fr minmax(var(--min-width-col), 20%);
    gap: var(--pad-grid);
}
.layout-3-cols__row{

        display: grid;
        grid-template-columns: minmax(var(--min-width-col), 26.3%) 1fr;
        gap: var(--pad-grid);
      
    .loginAndRegister__content{
        background: none;
        width: 100%;
        padding: 0;
    }
}
.layout-3-cols__row:not(:last-child) {
    margin-bottom: clamp(40px,6vw,60px);
  }
.layout-3-cols__right{
    width: 100%;
}

.box-cart {
    background-color: var(--color__gray-3);
    color: var(--color__text--bg_dark);
    border-radius: $rounded-normal;
    padding: 30px 20px;
}
.box-cart *{
    color: var(--color__text--bg_dark);
}
.box-cart__list{
    .list-cart__item{
        background:none;
    }
}

.loginRegister__form {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
}
.loginRegister__form form{
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}
.layout-3-cols .is-sticky {
    position: sticky;
    top: 100px;
}

.box-cart___img{
    width: 44px;
    height: 44px;
    border-radius: 5px;
    object-fit: cover;
    max-width: 100%;flex:2;
    flex-shrink: 0;
}
.box-cart___item{
    display: flex;
    justify-content: start;
    column-gap: 15px;
    width: 100%;
    padding-bottom:16px;
    margin-bottom:16px;
    border-bottom: 1px solid var(--color__gray-2);
}
.box-cart___data{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    flex: 1;
}
.box-cart__title{
    
    display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
}
.box-cart__list{
    display: flex;
    flex-direction: column;
}
.box-cart__total{
    display: flex;
    justify-content: space-between;

}
.box-cart__remove{
    cursor: pointer;
}
